* {
  padding: 0%;
  margin: 0%;
}

body {
  background-image: url("./resource/bg-top.svg"),
    url("./resource/bg-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  background-size: 400px 400px;
  background-attachment: fixed;
}

/* Tablets (768px - 1024px) */
@media (max-width: 1024px) {
  body {
    background-size: 300px 300px;
    background-position: top right, bottom left;
  }
}

/* Phones (max-width: 767px) */
@media (max-width: 767px) {
  body {
    background-size: 200px 200px;
    background-position: top right, bottom left;
  }
}
