:root {
  --box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  --linear-gradient: linear-gradient(
    to bottom right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

input {
  display: none;
}

input:checked ~ #circle {
  transform: translateX(120%);
}

.child {
  color: #b1b1bd;
}

body {
  background-image: url("./resource/bg-top.svg"),
    url("./resource/bg-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom left;
  background-size: 400px 400px;
  background-attachment: fixed;
  background-color: rgb(247, 247, 255);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  column-gap: 20%;
  row-gap: 20%;
}

.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  width: 40%;
  column-gap: 5%;
}

#toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10%;
}

#slider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  cursor: pointer;
}

#circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  margin-left: 3px;
  margin-right: 3px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.anually {
  display: none;
}

/* #header:has(#checkbox:checked) ~ #container .monthly */
#header:has(#checkbox:checked)
  ~ #container
  > #cards
  > .card
  > .card-body
  > .monthly {
  display: none;
}

/* #header:has(#checkbox:checked) ~ #container .anually */
#header:has(#checkbox:checked)
  ~ #container
  > #cards
  > .card
  > .card-body
  > .anually {
  display: block;
}

@media (min-width: 1025px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  #cards {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
  }

  .card {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5%;
    background-color: white;
    border-radius: 10px;
    width: 20%;
    height: 60%;
    box-shadow: var(--box-shadow);
  }

  h3 {
    font-size: 40px;
    font-weight: bolder;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5%;
    height: 60%;
    color: black;
  }

  .professional > .card-body {
    position: relative;

    color: rgba(60, 60, 137, 0);
    height: 65%;
    top: -2.5%;
    color: white;
    z-index: 1;
  }

  .professional {
    position: relative;

    background-image: var(--linear-gradient);

    color: rgba(60, 60, 137, 0);
    height: 65%;
    top: -2.5%;
    color: white;
    z-index: 1;
  }

  #basic {
    position: relative;
    left: 1%;
  }

  #master {
    position: relative;
    right: 1%;
  }

  .basic > .card-footer > button,
  .master > .card-footer > button {
    height: 40px;
    width: 220px;
    background-color: rgb(128, 132, 229);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  /* :is(.master, .basic) > .card-footer > button:hover */
  .basic > .card-footer > button:hover,
  .master > .card-footer > button:hover {
    background-color: rgb(247, 247, 255);
    border: 1px solid rgb(128, 132, 229);
    color: black;
  }

  .professional > .card-footer > button {
    border: none;
    height: 40px;
    width: 220px;
    background-color: rgb(247, 247, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .professional > .card-footer > button:hover {
    background-color: rgba(128, 132, 229, 0);
    border: 1px solid rgb(247, 247, 255);
    color: white;
  }

  .basic > .card-body > .line,
  .master > .card-body > .line {
    height: 0.1%;
    width: 120%;
    background-color: black;
    z-index: 2;
  }

  .professional > .card-body > .line {
    height: 0.1%;
    width: 120%;
    background-color: white;
  }

  .annually {
    display: none;
  }

  #checkbox:checked ~ .container .monthly {
    display: none;
  }

  #checkbox:checked ~ .container .annually {
    display: block;
  }
}

@media (max-width: 1024px) {
  body {
    background-size: 200px 200px;
    background-position: top right, bottom left;
    background-color: rgb(247, 247, 255);
    overflow: visible;
  }

  #cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow);
  }

  h3 {
    font-size: 40px;
    font-weight: bolder;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    color: black;
    row-gap: 15px;
  }

  .professional {
    color: white;
    background-image: var(--linear-gradient);
  }

  .professional > .card-body {
    color: white;
  }

  #basic > .card-body > .line,
  #master > .card-body > .line {
    height: 0.1%;
    width: 110%;
    background-color: black;
  }

  #professional > .card-body > .line {
    height: 0.1%;
    width: 110%;
    background-color: white;
  }

  #basic > .card-footer > button,
  #master > .card-footer > button {
    width: 200px;
    height: 40px;
    background-color: rgb(128, 132, 229);
    border: 1px solid rgb(128, 132, 229);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  #professional > .card-footer > button {
    width: 200px;
    height: 40px;
    border: 1px solid rgb(128, 132, 229);
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
  }

  #basic > .card-footer > button:hover,
  #master > .card-footer > button:hover {
    background-color: rgb(247, 247, 255);
    border: 1px solid rgb(128, 132, 229);
    color: black;
  }

  #professional > .card-footer > button:hover {
    background-color: rgb(128, 132, 229);
    border: 1px solid white;
    color: white;
  }
}
